<div class="content">
  <p>When uploading photos to OpenStreetView you can choose what license your images can be used under.</p>
  <p>
    The OpenStreetView project aims to create the biggest possible openly licensed repository of street level photography.
    We want these photos to be used in as many ways as possible and so we recommend that you used the most permissive license. We do realise that some people will not want to do that and so a full range of Creative Commons licenses are available for you to choose from.
  </p>
  <p>
    To simplify things regarding the metadata that you add for photos we are stating that all of this data will be covered by the Creative Commons "Zero" license (CC0) which essentially releases the data into the public domain. This covers all metadata related to photos including metadata pulled from the original photo's EXIF headers.
  </p>
  <p>Take a look below for a full break-down of the licenses available:</p>
  <ul class="licenses">
    <% @licenses.each do |l| %>
    <li>
      <h3><%=link_to l.name, l.url %></h3>
      <p>
        <%=l.description%>
      </p>
      <p><%=link_to "Click here for more information on this license", l.url %></p>
    </li>
    <% end %>
  </ul>
</div>
