<div class="content">
  <p>
    Photographic imagery used on this site is covered by <%=link_to "multiple licenses", :controller => 'main', :action => 'licenses' %>, please look at the individual photo information for more details.
  </p>
  <p>
     Photo metadata is covered by <a href="http://creativecommons.org/license/zero/">CC0</a> and is therefore in the public domain.
  </p>
  <p>
    All photos may be used for deriving features and adding data to the <a href="http://www.openstreetmap.org/">OpenStreetMap</a> project, the resultant data is covered by that project's license and legal terms.
  </p>
  <p>
     By uploading photos to this site, you agree to these terms.
  </p>
</div>
